
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index:1000;
}

.container {
  position: relative;
  height: 600px;
  border: 2px solid #6f11c786;
  overflow: auto;
}

.centered-element {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ESTILOS PAGINA INICIO */
.inicio-container {
  background: black;
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
}

.inicio-container-title {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;

}

.inicio-container-desc {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: inline-flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

.boton-gimnasios {
  margin: auto !important;
}

/* ESTILOS FOOTER */

.footer-container {
  background: #000;
  color: #333;
  font-size:large;
  font-weight: 400;
  margin-top:auto;
}

/* ESTILOS NAV */

header {
  background-color: #000;
  z-index: 1000;
}


.container-fluid {
  margin-bottom: auto;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
}

.bg-nav {
  background-color: #000 !important;
  color: #fff
}

nav {
  max-width: 960px;
  background-color: #000;
  margin: 0 auto;
  padding: 60px 0;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  padding: 18px;
  text-transform: uppercase;
  color: rgba(0, 35, 122, 0.5);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}

nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #484848;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  z-index: 1000;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  display: block;
  
}

nav ul li ul li a {
  padding: 10px 18px;
  font-size: 16px;
}

nav ul li ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}


/* ESTILOS TABLAS */
.intro {
  height: 50vh;
}

.tabla {
  min-height: 80vh;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

thead th,
tbody th {
  color: #fff;
}

tbody td {
  font-weight: 500;
  color: rgba(255,255,255,.65);
}